@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
:root {
  --primary-bg: #ed1260;
  --primary-color: #ed1260;
  --text-gray: #9a9a9a;
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #ed1260;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #fa2871;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  background: #fff;
  font-family: "Lato", sans-serif;
}

body,
html {
  height: 100%;
}

.login-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80%;
  margin-bottom: 60px;
}

.heading {
  font-weight: bold;
  font-size: 32px;
  line-height: 18px;
  letter-spacing: 0.002em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h2 {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.h4 {
  margin-bottom: 20px;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h5 {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #777777;
}

.text-gray {
  color: var(--text-gray);
}

.text-gray-600 {
  color: #858796 !important;
}

.text-gray-800 {
  color: #5a5c69 !important;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
}

.text-red {
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-bg);
}

.btn-primary:hover {
  background-color: #d61256;
}
.btn-primary:hover:active {
  background-image: var(--group-background-focus);
}
.btn-primary:hover:visited {
  background-image: var(--group-background-focus);
}

.form-control,
.input-group-text {
  display: block;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  cursor: pointer;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
}
.form-control::-moz-placeholder, .input-group-text::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-control:-ms-input-placeholder, .input-group-text:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-control::placeholder,
.input-group-text::placeholder {
  color: var(--input-placeholder);
}
.form-control:focus,
.input-group-text:focus {
  outline: none;
  border-color: var(--input-border-focus);
}
.form-control:hover,
.input-group-text:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.input-group-append .input-group-text a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

.login-right {
  background: var(--primary-bg);
  height: 100vh;
}
.login-right .hero_front {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-side {
  height: 100vh;
  background-color: var(--primary-bg);
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/*--------------------sidebar----------------------*/
#sidebar-wrapper {
  z-index: 1000;
  height: 100%;
  width: 0px;
  left: -50px;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--primary-bg);
  transition: all 0.5s ease;
}
#sidebar-wrapper #sidebar-wrapper::-webkit-scrollbar {
  width: 8px;
  background: #222e3c;
}
#sidebar-wrapper #sidebar-wrapper::-webkit-scrollbar-thumb {
  background-color: #989898;
  border-radius: 10px;
}

.navbar-nav > li > a,
.submenu-box ul li a {
  color: gray !important;
  text-transform: capitalize;
  font-size: 14px;
  padding: 10px 10px 10px 20px !important;
  display: block;
  font-weight: 400;
  position: relative;
  z-index: 2;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.2px;
}

.submenu-box ul li a {
  padding: 4px 10px 4px 20px !important;
  color: white !important;
}

.navbar-nav > li > a.active {
  color: #e9ecef !important;
  background: linear-gradient(90deg, rgba(59, 125, 221, 0.1), rgba(59, 125, 221, 0.0875) 50%, transparent);
  border-left: 4px solid #3b7ddd;
}

.navbar-nav .has-sub > a.collapsed::after {
  transition: 0.4s ease;
}

.navbar-nav .has-sub > a.collapsed::after {
  color: white;
  font-size: 10px;
  content: "";
}

.navbar-nav .has-sub > a.collapsed::after {
  color: white;
}

.navbar-nav .has-sub > a::after {
  position: absolute;
  right: 0px;
  top: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  color: white;
  display: block;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 13px;
  line-height: 30px;
  margin-top: -15px;
}

#wrapper.toggled {
  padding-left: 270px;
}

.toggled#sidebar-wrapper {
  width: 270px !important;
  height: 100%;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

.navbar-nav li {
  display: block !important;
  margin: 2px 0px;
}

.nav-item .nav-link {
  display: block;
  color: white !important;
  text-transform: capitalize;
  text-decoration: none;
  padding: 6px 10px;
  transition: 0.4s ease;
}

.navbar-nav > li > a i:before {
  margin: 0px 5px 0px 0px;
  font-size: 14px;
}

/*-------------------End sidebar----------------------*/
/*------------------main-content----------------------*/
#page-content-wrapper {
  width: 100%;
  transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -270px;
  transition: all 0.5s ease;
}

.toggled#page-content-wrapper {
  margin-left: 270px;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 992px) {
  .toggled#page-content-wrapper {
    width: calc(100% - 270px);
  }
}
/*-----------------------main-content----------------------*/
/*----------------------cross-bar animation-------------------*/
.nav-icon1 {
  z-index: 999;
  position: relative;
  display: block;
  width: 23px;
  margin: 0px 30px 0px 25px;
  cursor: pointer;
  height: 25px;
}
.nav-icon1 span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  cursor: pointer;
  background-color: var(--primary-bg);
  left: 0;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.nav-icon1:hover span:nth-of-type(1) {
  top: -3px;
}

.nav-icon1:hover span:nth-of-type(3) {
  top: 19px;
}

.nav-icon1 span:nth-of-type(1) {
  top: 0;
}

.nav-icon1 span:nth-of-type(2) {
  top: 8px;
}

.nav-icon1 span:nth-of-type(3) {
  top: 16px;
}

.nav-icon1.open span:nth-of-type(1) {
  top: 8px;
  transform: rotate(135deg);
}

.nav-icon1.open span:nth-of-type(2) {
  top: 8px;
  opacity: 0;
  left: -30px;
}

.nav-icon1.open span:nth-of-type(3) {
  top: 8px;
  transform: rotate(-135deg);
}

/*--------------------cross-bar animation----------------------*/
/*------------------header navbar design------------------*/
.my-navbar {
  margin: 48px 0 72px;
  background-color: #fff;
}

.badge-counter {
  position: absolute;
  transform: scale(0.7);
  transform-origin: top right;
  right: 6px;
  margin-top: 4px;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
}

.nav-flag,
.nav-icon {
  padding: 0.1rem 0.8rem;
  display: block;
  font-size: 1.5rem;
  color: #6c757d;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
  line-height: 1.4;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-nav .dropdown-menu {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.dropdown-menu-lg {
  min-width: 20rem;
}

.position-relative {
  position: relative !important;
}

.nav-item .indicator {
  background: #3b7ddd;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  height: 18px;
  width: 18px;
  padding: 1px;
  position: absolute;
  top: 0;
  right: -8px;
  text-align: center;
  transition: top 0.1s ease-out;
  font-size: 0.675rem;
  color: #fff;
}

/*---------------------------------
header navbar design
----------------------*/
/*---------------------------------
main-top card
----------------------*/
.card {
  margin-bottom: 24px;
  box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, 0.05);
}

.card-border {
  margin-bottom: 48px;
  border-top: 5px solid var(--primary-color);
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.card-body h1 {
  font-size: 24px;
  line-height: 1.2;
  color: #312f30;
}

.card-title {
  font-size: 0.875rem;
  color: #495057;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.font-16 {
  font-size: 16px;
}

/*---------------------------------
main-table
----------------------*/
.table-responsive::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  background-color: #f5f5f5;
}

.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #dddde4;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-bg);
}

/*---------------------------------
main-table
----------------------*/
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--primary-color) !important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(243, 18, 104, 0.842);
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #ff598b;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--primary-color) !important;
}

.custom-radio .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(243, 18, 104, 0.842);
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
  background-color: #ff598b;
}/*# sourceMappingURL=style.css.map */